body {
    font-family: Verdana, Arial,Tahoma,Serif;
    font-size: 1em;
    background-color: #eac8c1;
}
.page 
{
    width: 1000px;
    height: 1000px;
    margin : auto;
    background-color: white;
    border-radius: 20px;
    margin-top: 100px;
}
#Title-of-Todo-list{
    width: 1000px;
    height: 50px;
    border-radius: 5px;
    border: none;
    margin-left: 450px;
    font-size: 1.4em;
    font-family: Verdana, Arial,Tahoma,Serif;
}
main 
{
    padding-top: 100px;
    margin: 100px;
}
.createTodo div{
    padding : 10px
}
.todolistGenerate{
    margin-left: -10px;
    margin-top: -10px;
}
.createTodo input[type="text"]{
    background: none;
    border: none;
    border-bottom: solid 1px #ccc;
    font-size: 1em;
    font-family: Verdana, Arial,Tahoma,Serif;
    width: 700px;
 }

.createTodo input[type="text"]:focus {
    outline: none;
}




/* input[type="checkbox"]{
  
    border-radius: 2px;
    height: 15px;
    width: 15px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
} */


  









